<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>add dep</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
    <!-- partial -->
    <!-- partial:../../partials/_sidebar.html -->
    <%- include("../../includes/dashboard_include/navbar.ejs")  %>
        <!-- partial -->
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="alert alert-danger">
                    <strong> </strong>
                    <p></p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Update Department</h4>
                    <p class="card-description">
                        Update the church department
                    </p>
                    <form class="form-inline forms" onsubmit="event.preventDefault();" id="form">
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe" name="fname" value="<%= name %> ">

                        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
                        </div>
                        <button class="btn btn-primary mb-2 d">update</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <%- include("../../includes/dashboard_include/footer.ejs")  %>
            <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->

            <!-- plugins:js -->
            <script src="../../vendors/js/vendor.bundle.base.js"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
            <script src="../../vendors/select2/select2.min.js"></script>
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="../../js/off-canvas.js"></script>
            <script src="../../js/hoverable-collapse.js"></script>
            <script src="../../js/template.js"></script>
            <script src="../../js/settings.js"></script>
            <script src="../../js/todolist.js"></script>
            <!-- endinject -->
            <!-- Custom js for this page-->
            <script src="../../js/file-upload.js"></script>
            <script src="../../js/typeahead.js"></script>
            <script src="../../js/select2.js"></script>
            <!-- End custom js for this page-->
            <!--ajax stuff-->
            <script>
                const input = document.querySelector("#inlineFormInputName2");
                const btns = document.querySelector(".d");
                const form=document.getElementById("form");
                // const xhttp = new XMLHttpRequest();
                const alrt_box = document.querySelector(".alert >strong");
                const alrt_box_p = document.querySelector(".alert >p");
                const alrt_box_cont = document.querySelector(".alert");
                alrt_box_cont.style.opacity = '0';
                
                form.addEventListener('submit',function(){
                    // console.log([...payload]);
                    const formData=new FormData(form);
                    const payload=new URLSearchParams(formData);
                    const requestOptions = {
                        method: 'patch',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify([...payload][0]),
                        redirect: 'manual',
                    };
                    const req_params = window.location.pathname;
                    console.log(`/ed/${req_params.replace('/ed/',' ').trim()}`);
                    fetch(`/ed/${req_params.replace('/ed/',' ').trim()}`, requestOptions).then(function(response) {
                        }).then(function(data) {
                        }).catch(error => {
                            console.log(error);
                     });
                    // setTimeout(function() {
                    //     window.location.href = "/vd";
                    //          // alert(1)
                    // }, 200);
                    console.log([...payload][0]);
                    console.log(JSON.stringify([...payload][0]));
                    // console.log(formData);
                });
            </script>

</body>

</html>